<h2>Monthly Budget</h2>
<h4>Budget Progress:</h4>
<ul>
  <% @budgets.each do |budget| %>
    <li><%= budget[:category] %> | <%= budget[:max_amount] %> | <%= budget[:amount_remaining] %></li>
  <% end %>
</ul>
<h4>Recent Expenses:</h4>
<ul>
  <% @expenses.each do |expense| %>
    <form action="/budget/expenses/<%= expense[:id] %>/destroy" method="post">
        <div>
          <p style="display: inline;"><%= expense[:description] %> | <%= expense[:amount] %> | <%= expense[:date] %> | <%= expense[:category] %></p>
          <input type="submit" value="Delete">
      </form>
  <% end %>
</ul>

<a href='/budget/expenses'><button>View All Expenses</button></a>
<button>Create a New Budget</button>
<button>Edit a Current Budget</button>
<a href='/budget/expenses/new'><button>Add an Expense</button></a>
<button>Edit an Expense</button>