<h2>Budget for <%= current_month %></h2>
<h4>Monthly Budget Progress:</h4>
<ul>
  <li><p>Category | Budgeted Amount | Amount Remaining</p></li>
  <% @budgets.each do |budget| %>
    <li>
      <% if budget[:category] == 'Uncategorized' %>
        <p><%= budget[:category] %> | <%= budget[:amount_remaining] %></p>
      <% else %>  
        <p style="display: inline;"><%= budget[:category] %> | <%= budget[:max_amount] %> | <%= budget[:amount_remaining] %></p>
        <a href="/budget/categories/<%= budget[:id] %>/edit" style="display: inline;"><button>Edit Category</button></a>
      <% end %>
    </li>
  <% end %>
</ul>
<p>Total Spent: <%= @total_spent %></p>
<p>Total Budgeted: <%= @total_budget_amount %></p>
<p>Budget Remaining: <%= @remaining_amount %></p>

<a href='/budget/categories/new'><button>New Category</button></a>

<h4>Recent Monthly Expenses:</h4>
<ul>
  <li><p>Description | Amount | Expense Date | Category</p></li>
  <% @expenses.each do |expense| %>
    <li>
      <p style="display: inline;"><%= expense[:description] %> | <%= expense[:amount] %> | <%= expense[:date] %> | <%= expense[:category] %></p>
      <a href="/budget/expenses/<%= expense[:id] %>/edit" style="display: inline;"><button>Edit</button></a>
      <form action="/budget/expenses/<%= expense[:id] %>/destroy" method="post" style="display: inline;">
        <input type="submit" value="Delete">
      </form>
    </li>
  <% end %>
</ul>

<h4>Totals:</h4>
<p>Monthly Expense Totals: <%= @monthly_total %></p>
<p>Year-to-Date Expense Total: <%= @year_to_date_total %></p>

<% content_for :footer_links do %>
  <a href='/budget/expenses'><button>View All Expenses</button></a>
  <a href='/budget/expenses/new'><button>Add an Expense</button></a>
<% end %>
