<h2>Budget for <%= current_month %></h2>
<h3>Monthly Budget Progress</h3>
<table>
  <tr>
    <td>Category</td>
    <td>Budgeted Amount</td>
    <td>Amount Remaining</td>
  </tr>
  <% @budgets.each do |budget| %>
    <tr>
      <% if budget[:category] == 'Uncategorized' %>
        <td><%= budget[:category] %></td>
        <td><%= budget[:amount_remaining] %></td>
      <% else %>  
        <td><%= budget[:category] %></td>
        <td><%= budget[:max_amount] %></td>
        <td><%= budget[:amount_remaining] %></td>
        <td><a href="/budget/categories/<%= budget[:id] %>/edit" style="display: inline;"><button>Edit Category</button></a></td>
      <% end %>
    </tr>
  <% end %>
</table>
<table>
  <tr>
    <td>Total Spent</td>
    <td>Total Budgeted</td>
    <td>Remaining Budget</td>
  </tr>
  <tr>
    <td><%= @total_spent %></td>
    <td><%= @total_budget_amount %></td>
    <td><%= @remaining_amount %></td>
  </tr>
</table>

<a href='/budget/categories/new'><button>New Category</button></a>

<h3>Recent Monthly Transactions</h3>
<table>
  <tr>
    <td>Description</td>
    <td>Amount</td>
    <td>Date</td>
    <td>Category</td>
  </tr>
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction[:description] %></td>
      <td><%= transaction[:amount] %></td>
      <td><%= transaction[:date] %></td>
      <td><%= transaction[:category] %></td>
      <td><a href="/budget/transactions/<%= transaction[:id] %>/edit" style="display: inline;"><button>Edit</button></a></td>
      <td>
        <form action="/budget/transactions/<%= transaction[:id] %>/destroy" method="post" style="display: inline;">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
  <% end %>
</table>

<h3>Net Totals</h3>
<table>
  <tr>
    <td>Monthly</td>
    <td>Year-To-Date</td>
    <td>All-Time</td>
  </tr>
  <tr>
    <td><%= @monthly_total %></td>
    <td><%= @year_to_date_total %></td>
  </tr>
</table>

<% content_for :footer_links do %>
  <a href='/budget/transactions'><button>View All Transactions</button></a>
  <a href='/budget/transactions/new'><button>Add a New Transaction</button></a>
<% end %>
