<h2>Monthly Budget</h2>
<h4>Budget Progress:</h4>
<ul>
  <% @budgets.each do |budget| %>
    <li>
      <% if budget[:category] == 'Uncategorized' %>
        <p><%= budget[:category] %> | <%= budget[:amount_remaining] %></p>
      <% else %>  
        <p style="display: inline;"><%= budget[:category] %> | <%= budget[:max_amount] %> | <%= budget[:amount_remaining] %></p>
        <a href="/budget/categories/<%= budget[:id] %>/edit" style="display: inline;"><button>Edit Category</button></a>
        <form action="/budget/categories/<%= budget[:id] %>/destroy" method="post" style="display: inline;">
          <input type="submit" value="Delete Category">
        </form>
      <% end %>
    </li>
  <% end %>
</ul>
<h4>Recent Expenses:</h4>
<ul>
  <% @expenses.each do |expense| %>
    <li>
      <p style="display: inline;"><%= expense[:description] %> | <%= expense[:amount] %> | <%= expense[:date] %> | <%= expense[:category] %></p>
      <a href="/budget/expenses/<%= expense[:id] %>/edit" style="display: inline;"><button>Edit</button></a>
      <form action="/budget/expenses/<%= expense[:id] %>/destroy" method="post" style="display: inline;">
        <input type="submit" value="Delete">
      </form>
    </li>
  <% end %>
</ul>

<div>
  <a href='/budget/expenses'><button>View All Expenses</button></a>
</div>
<div>
  <a href='/budget/expenses/new'><button>Add an Expense</button></a>
</div>
<div>
  <button>Create a New Budget</button>
  <button>Edit a Current Budget</button>
</div>