<h4>All Expenses:</h4>
<% 1.upto(12) do |month| %>
  <a href="/budget/expenses?month=<%= month %>"><button><%= month_to_string(month) %></button></a>
<% end %>
<a href="/budget/expenses"><button>Reset</button></a>
<ul>
  <% @expenses.each do |expense| %>
    <li>
      <p style="display: inline;"><%= expense[:description] %> | <%= expense[:amount] %> | <%= expense[:date] %> | <%= expense[:category] %></p>
      <a href="/budget/expenses/<%= expense[:id] %>/edit" style="display: inline;"><button>Edit</button></a>
      <form action="/budget/expenses/<%= expense[:id] %>/destroy" method="post" style="display: inline;">
        <input type="submit" value="Delete">
      </form>
    </li>
  <% end %>
</ul>

<a href="/budget"><button>Return to Home</button></a>