<h4>All Transactions:</h4>
<% 1.upto(12) do |month| %>
  <a href="/budget/transactions?month=<%= month %>"><button><%= month_to_string(month) %></button></a>
<% end %>
<a href="/budget/transactions"><button>Reset</button></a>
<ul>
  <% @transactions.each do |transaction| %>
    <li>
      <p style="display: inline;"><%= transaction[:description] %> | <%= transaction[:amount] %> | <%= transaction[:date] %> | <%= transaction[:category] %></p>
      <a href="/budget/transactions/<%= transaction[:id] %>/edit" style="display: inline;"><button>Edit</button></a>
      <form action="/budget/transactions/<%= transaction[:id] %>/destroy" method="post" style="display: inline;">
        <input type="submit" value="Delete">
      </form>
    </li>
  <% end %>
</ul>

<a href="/budget"><button>Return to Home</button></a>

<% content_for :footer_links do %>
  <a href='/budget/transactions'><button>View All Transactions</button></a>
  <a href='/budget/transactions/new'><button>Add an Transaction</button></a>
<% end %>